.article {
    padding: 30px 40px;
}

.article h3 {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 20px 0 50px;
    color: #2FA691;
}

.article p {
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 20px;
}